html {
   height: 100%;
}
body {
   min-height: 100%;
}

#abiReadable, #lll {
  border: 1px solid #ddd;
  height:800px;
}

.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.abi-box {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 25px;
}

#editorTab {
   margin-bottom: 0px;
}

#filename {
   width: 50%;
   height: 100%;
   padding: 5px;
   margin-left: 15px;
   font-size: 20px;
}

.inputfile {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}

.inputfile + label {
   display: inline-block;
   cursor: pointer; /* "hand" cursor */
}

.container {
   max-width: none !important;
}

.col {
   padding-left: 0px;
}

